html {
    margin-left: 25px;
    font-family: sans-serif; 
    font-size: 62.5%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;  
  }

  body {
    font-size: 14px;
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: darkblue;
    background-color: lightblue;  
  }

  p.boldfont {
      font-weight: bold;
  }

  img {
        padding: 15px;
        border: 2px red dashed;
  }

  h3 {
      text-align: center;
  }